name: churn-cml-imbalanced-dataset
on:
  push:
    branches: [ main]
  pull_request:
    branches: [ main ]
permissions: write-all
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: "16"
      - uses: actions/setup-python@v6
        with:
          python-version: "3.11"
      - uses: iterative/setup-cml@v2

      - name: Prepare Environment
        run: |
          # Your ML workflow goes here
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          python script.py

      - name: Generate Report
        env:
          REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |

          # Get the report
          echo "## Metrics" > report.md
          cat metrics.txt >> report.md

          awk 'NR%4{print "    " $0}{print ""}' metrics.txt >> report.md

          echo "## Confusion Matrix" >> report.md
          echo "![](./conf_matrix.png)" >> report.md
          cml comment create report.md
